* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}
.up{
    border-radius: 100%;
    height: 70px;
    width: 80px;
}

body {
    background: #4f4d4d;
    color: #333;
}
body {
    margin: 0;
    padding: 0;
    background: url("back2.jpg") center/cover no-repeat fixed;
    color: #333;
    font-family: 'Helvetica', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #373636;
}

.logo {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-right: 400px;

}

.nav-links li {
    display: inline-block;
    margin-left: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffcc00;
}


.hero {
    height: 90vh;
    background: url('https://via.placeholder.com/1600x900') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 60px;
    color: white;
}

.hero-content p {
    font-size: 22px;
    color: #eee;
    margin: 15px 0 30px;
}

.btn {
    background: #ffcc00;
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #e6b800;
}


section {
    padding: 70px 10%;
}

h2 {
    font-size: 34px;
    margin-bottom: 25px;
}


.about-flex {
    display: flex;
    gap: 40px;
    align-items: center;
}

.about img {
    border-radius: 10px;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 10px;
}

.contact{
    color: #f4f4f4;
}
.contact p {
    margin-bottom: 10px;
    font-size: 18px;
}


footer {
    text-align: center;
    padding: 20px;
    background: #4f4d4d;
    color: #fff;
}



.login-card {
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    width: 360px;
    padding: 35px 40px;
    border-radius: 15px;
    backdrop-filter: blur(12px);
    box-shadow: 0px 0px 25px rgba(255,255,255,0.2);
    text-align: center;
    color: #fff;
    animation: fadeIn 0.8s ease-in-out forwards;
}


.login-card h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 25px;
}


.login-form {
    text-align: left;
    color: #fff;
}

.login-form label {
    font-size: 14px;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255,255,255,0.25);
    color: #fff;
    font-size: 15px;
    outline: none;
}

.login-form input::placeholder {
    color: #ececec;
}

button {
    width: 100%;
    padding: 12px;
    background: #ffcc00;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #f0b900;
}


.register {
    margin-top: 15px;
    color: #fff;
}

.register a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}


@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to   { opacity: 1; transform: scale(1); }
}
